<!-- <div class="col-md-offset-1 col-md-4">
  <form class="form-horizontal ">
    <div class="form-group">
      <label class="col-sm-2 control-label">Student id : </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentId" placeholder="Student id">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Student name : </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentName" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Pen amount : </label>
      <div class="col-sm-10 form-inline">
        <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="downQuantity(student)">-
        </button>
        <input type="text" class="col-md-1 form-control input-amount" value="0">
        <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="upQuantity(student)">+
        </button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">File input : </label>
      <div class="col-sm-10">
        <input type="file" class="btn btn-default" id="exampleInputFile">
        <p class="help-block">Leave here for the file preview later.</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description : </label>
      <div class="col-sm-10">
        <textarea class="form-control" id="studentDescription" placeholder="Description" row="3"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
  </form>
</div> -->


<div>
  <mat-form-field>
    <input matInput placeholder="Student Id">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Surname">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender">
      <mat-option value="option">Male</mat-option>
      <mat-option value="option">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="button" class="center-button mat-raised-button mat-button-base"
    (click)="downQuantity(students)">-</button>
  <mat-form-field>
    <input matInput placeholder="Pen Amount" value={{penAmount}}>
  </mat-form-field>
  <button type="button" class="center-button mat-raised-button mat-button-base"
    (click)="upQuantity(students)">+</button>

  <mat-form-field>
    <input matInput placeholder="File Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>

</div>