<!-- <div *ngFor="let student of students" class="row">
    <div class="panel panel-primary col-md-offset-2 col-md-6 col-sm-offset-1 col-sm-8">
        <div class="panel-heading">
            <h2 class="panel-title">{{student.studentId }}</h2>
        </div>
        <div class="panel-body row">
            <div class="col-md-6 col-sm-6">
                <p class="student-name"> {{student. name | uppercase}} {{student.surname}}</p>
                <p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number:'1.2-2'}}</p>
                <p *ngIf="student.gpa <= 2.5">Bad Student who get grade {{student.gpa | number:'1.2-2'}}</p>
                <div class="row">
                    <div class="col-sm-offset-1 ">
                        <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="downQuantity(student)">-</button>
                        <input type="text" class="col-md-1" />
                        <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity(student)">+</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" [src]="student.image" [title]="student.name">
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success col-md-offset-2 col-md-6"> The average gpa is {{averageGpa()|number:'1.2-2'}} </div> -->

<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let students"> {{students.id}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let students"> {{students.id}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let students"> {{students.name}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Surname </th>
        <td mat-cell *matCellDef="let students"> {{students.surname}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Surname </th>
        <td mat-cell *matCellDef="let students"> <img [src]="students.image"> </td>
        <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="penAmount">
        <th mat-header-cell *matHeaderCellDef> Pen Amount </th>
        <td mat-cell *matCellDef="let students"> <button type="button" class="center-button mat-raised-button mat-button-base"
                (click)="downQuantity(students)">-</button>
            {{students.penAmount}}
            <button type="button" class="center-button mat-raised-button mat-button-base" (click)="upQuantity(students)">+</button></td>
        <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="gpa">
        <th mat-header-cell *matHeaderCellDef> GPA </th>
        <td mat-cell *matCellDef="let students"> {{students.gpa | number:'1.2-2' }} </td>
        <td mat-footer-cell *matFooterCellDef> Average: {{averageGpa() | number:'1.2-2' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

</table>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[10, 20, 30]">
</mat-paginator>

